<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Advanced Data Structures 101</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover"">
    <meta name="description" content="A guided tour that walks through the fundamentals of Git">
    <meta name="theme-color" content="#0000ff">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" media="screen" href="reset.css">
    <link rel="stylesheet" media="screen" href="home.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1142510-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body id="index_body" class="animation-fade-in">
    <h1>Advanced Data Structures</h1>

    <p><em>Delve deep into higher-level data structures. This course is intense and will be harder than most sections.
    Data Structures are fundamental to Computer Science, and you will have to know them for interview questions.
    If you're confused, make sure you ask the instructors for further clarification. Doing all exercises is mandatory.</em></p>

    <hr>

    <a class="start" href="lab_01.html">Start Advanced Data Structures</a>

    <div class="footer">
      <p>
        Advanced Data Structures is released under a
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank" rel="noopener">Creative Commons BY-NC-SA 3.0 License.</a>
      </p>
      <p>️️❤️  Maintained with love by <a href="https://youtube.com/c/beacoder" target="_blank" rel="noopener">Beacoder</a>.</p>
    </div>
  </body>
</html>
